run = "python3 main.py"
entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-23_11"

[deployment]
deploymentTarget = "autoscale"
run = ["python3", "main.py"]

[[ports]]
localPort = 8080
externalPort = 80
